/*.profile-img {
  display: inline;
  margin-top:20px!important;
  margin-left: 10px;
}

.stats-bar{
  padding-top:25px!important;
  padding-left: 100px!important;
}

.photo-gallery-header, .charts-header{
  text-align: center!important;
}

.photo-gallery-button{
  margin-top: 10px!important;
  margin-left: 50px!important;
  margin-right: 50px!important;
  margin-bottom: 10px!important;
}

.chart-button {
  margin-top: 10px!important;
  margin-left: 50px!important;
  margin-right: 50px!important;
  margin-bottom: 10px!important;
  border-radius: 5%!important;
  display: inline-block!important;
}

.gallery-button {
  margin-left: 36%!important;
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}

.chart {
  height: 500px;
  width: 95%;
  margin: 10px;
  padding:10px;
  padding-right:50px;
  border-radius: 5%;
  border-width: 5px;
  border-color: #78909c;
  border-style: solid;
}

.photo-gallery{
  background-color: white;
  height:450px;
  width:100%;

  margin: 10px;
  padding:10px;
  border-radius: 5%;
  border-width: 5px;
  border-color: #78909c;
  border-style: solid;

}

.thumbnail{
  border-radius: 5%!important;
}


.charts-button-group{
  width:100%!important;
}*/


.top-bar {
  background-color: white
}

.stats-bar{
  padding-top:10px!important;
}

.chart {
  height: 650px;
  width: 80%;
  /*margin: 10px;*/
  /*padding:10px;*/
  /*padding-right:50px;*/
  border-radius: 2%;
  border-width: 1px;
  border-color: #78909c;
  border-style: solid;
  background-color: white;
  box-shadow: 4px 4px #808080;
}

.photo-gallery{
  height: 650px;
  overflow-y: auto;
  overflow-x:hidden;
  padding-left: 10%;
  padding-right: 5px;
}

.profile{
  padding-left: 10%;
}

.xAxis{
  stroke-width: 5px;
  font-size: 14px;
  font-weight: bold;
}
.yAxis{
  stroke-width: 5px;
  font-size: 14px;
  font-weight: bold;
}

.body-background{
  background-image: url('img/pattern.png');
  height:900px!important;
}

.card{
  box-shadow: 5px 5px #cccccc!important;
}

::-webkit-scrollbar {
    width: 0px!important;
    background: transparent!important;
}

.stat{
  color:white!important;
}

.top-photo-image{
  object-fit: cover!important;
}

.top-photo-container{
  overflow: hidden;
}

.logout-link{
  color:white!important;
  font-size: 20px;
  font-weight: bold;
  

}
/*body {
  overflow: hidden
}*/
