/*.profile-img {
  display: inline;
  margin-top:20px!important;
  margin-left: 10px;
}

.stats-bar{
  padding-top:25px!important;
  padding-left: 100px!important;
}

.photo-gallery-header, .charts-header{
  text-align: center!important;
}

.photo-gallery-button{
  margin-top: 10px!important;
  margin-left: 50px!important;
  margin-right: 50px!important;
  margin-bottom: 10px!important;
}

.chart-button {
  margin-top: 10px!important;
  margin-left: 50px!important;
  margin-right: 50px!important;
  margin-bottom: 10px!important;
  border-radius: 5%!important;
  display: inline-block!important;
}

.gallery-button {
  margin-left: 36%!important;
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}

.chart {
  height: 500px;
  width: 95%;
  margin: 10px;
  padding:10px;
  padding-right:50px;
  border-radius: 5%;
  border-width: 5px;
  border-color: #78909c;
  border-style: solid;
}

.photo-gallery{
  background-color: white;
  height:450px;
  width:100%;

  margin: 10px;
  padding:10px;
  border-radius: 5%;
  border-width: 5px;
  border-color: #78909c;
  border-style: solid;

}

.thumbnail{
  border-radius: 5%!important;
}

::-webkit-scrollbar {
    width: 0px!important;
    background: transparent!important;
}
.charts-button-group{
  width:100%!important;
}*/

.top-bar {
  background-color: #eceff1;
}

.stats-bar{
  padding-top:10px!important;
}

.chart {
  height: 650px;
  width: 80%;
  /*margin: 10px;*/
  /*padding:10px;*/
  /*padding-right:50px;*/
  border-radius: 5%;
  border-width: 5px;
  border-color: #78909c;
  border-style: solid;
}

.photo-gallery{
  height: 650px;
  overflow-y: auto;
  overflow-x:hidden;
  border-radius: 5%;
  padding-left: 10%;
}

.profile{
  padding-left: 10%;
}

.xAxis{
  stroke-width: 5px;
  font-size: 14px;
  font-weight: bold;
}
.yAxis{
  stroke-width: 5px;
  font-size: 14px;
  font-weight: bold;
}
